/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */
.featured-collection {
  background-color: $COLOR_BACKGROUND_WHITE;

  &__title {
    color: $COLOR_TEXT_PRIMARY;
    font-size: 2.8rem;
    line-height: 1;
    margin-bottom: $SPACING_3XS;
    text-align: center;

    @include mq($from: large) {
      font-size: 4.8rem;
      margin-bottom: $SPACING_XL;
    }
  }

  &__description {
    color: $COLOR_TEXT_SECONDARY;
    font-size: 1.4rem;
    font-weight: $WEIGHT_LIGHT;
    line-height: $LINE_HEIGHT_BODY;
    margin: $SPACING_M auto $SPACING_3XL;
    text-align: center;

    @include mq($from: small) {
      width: 400px;
    }

    @include mq($from: medium) {
      width: 600px;
    }

    @include mq($from: large) {
      font-size: 1.8rem;
      margin: 0 auto $SPACING_4XL;
    }
  }

  &__cta {
    margin: auto;
  }
}